* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --color-green1: rgb(124, 140, 14);
  --color-buttonCadastro: rgb(14, 186, 14);
  --color-buttonVoltar: rgb(78, 78, 163);
  --color-blue1: rgb(78, 28, 163);
  --color-buttonDisibled: rgb(163, 78, 78);
  --color-white: #fff;
}
main {
  min-width: 280px;
  max-width: 1200px;
  padding: 0 0.2rem;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 2rem;
}
button {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

a {
  font-style: none;
  text-decoration: none;
}
