@import url("global.css");

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1rem;
  background: beige;
}

.button-cadastro {
  display: flex;
  align-items: center;
  background-color: var(--color-buttonCadastro);
  color: var(--color-white);
  padding: 0.5rem 1.2rem;
  font-weight: 600;
  border-radius: 0.5rem;
  transition: background 0.5s;
}
.button-cadastro:hover {
  background: var(--color-green1);
  transition: background 0.5s;
}
.button-cadastro img {
  vertical-align: middle;
  margin-left: 0.5rem;
}

#containerCadastros {
  width: 100%;
  margin-top: 1rem;
  background: beige;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
